body {
  animation: bgchange 20s ease infinite;
}

@keyframes bgchange {
  0% {
    background: #ffe6e1;
  } /*変化させたい色*/
  25% {
    background: #f7cca6;
  } /*変化させたい色*/
  50% {
    background: #fdcbc1;
  } /*変化させたい色*/
  75% {
    background: #f8f89e;
  } /*変化させたい色*/
  90% {
    background: #bde2f8;
  } /*変化させたい色*/
  100% {
    background: #ffe6e1;
  } /*変化させたい色*/
}

a {
  color: rgb(233, 94, 94);
  text-decoration: none;
  font-size: 23px;
  font-family: cursive;
}

a:hover {
  color: #f00;
}

b {
  font-size: 15px;
}
header {
  height: 55px;
}

.header-nav {
  background-color: rgb(230, 186, 104);
  position: static;
  height: 60px;
  width: 100%;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-right: 10%;
}

#first-block {
  background-size: cover;
  width: 90%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.first-image {
  height: 350px;
  width: 300px;
  border-radius: 10px;
}

.main-information {
  margin: 25px;
  padding: 25px;
  font-family: cursive;
  font-size: 25px;
}

*/ #wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
