body {
  animation: bgchange 20s ease infinite;
  margin-right: auto;
  margin-left: auto;
}

@keyframes bgchange {
  0% {
    background: #ffe6e1;
  }
  25% {
    background: #f7cca6;
  }
  50% {
    background: #fdcbc1;
  }
  75% {
    background: #f8f89e;
  }
  90% {
    background: #bde2f8;
  }
  100% {
    background: #ffe6e1;
  }
}

a {
  color: rgb(233, 94, 94);
  text-decoration: none;
  font-size: 23px;
  font-family: cursive;
}

a:hover {
  color: #f00;
}

b {
  font-size: 15px;
}
header {
  height: 55px;
}

.header-nav {
  background-color: rgb(230, 186, 104);
  position: static;
  height: 60px;
  width: 100%;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-right: 10%;
}

#first-block {
  background-size: cover;
  width: 90%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.images {
  height: 350px;
  width: 300px;
  border-radius: 10px;
  margin: 25px;
}

.main-information {
  margin: 25px;
  padding: 25px;
  font-family: cursive;
  font-size: 25px;
}

#second-block {
  margin: 30px;
  background-color: beige;
  border-radius: 35px;
  width: 80%;
  height: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

#about-title {
  margin-left: 5px;
  font-size: 5vw;
  color: rgb(37, 37, 37);
}

#about-content {
  margin: 25px;
  font-family: "Meiryo UI", sans-serif;
}

#third-block {
  margin: 30px;
  /* background-color: beige; */
  border-radius: 35px;
  width: 80%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#skills-title {
  font-size: 5vw;
  color: rgb(37, 37, 37);
}

#geek-url {
  color: #fff;
  font-size: 16px;
}

.skills-langage {
  margin: 15px;
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, #dd5e89, #f7bb97);
  border-radius: 20px;
  width: 1000px;
  height: 100px;
  line-height: 100px; /* 行の高さ(heightと同じ値にする) */
  text-decoration: none; /* aタグのアンダーラインを消す */
  overflow: hidden; /* はみ出し部分を隠す */
}

.skills-langage-text {
  position: absolute;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  color: #fff; /* 文字色 */
  font-size: 16px; /* 文字サイズ */
  font-weight: bold; /* 文字の太さ */
  text-align: center; /* テキストを中央揃え */
  transition: all 0.3s; /* アニメーション実行時間 */
}

.skills-langage-text:nth-child(1) {
  top: 0;
}

.skills-langage-text:nth-child(2) {
  top: -100%;
}

.skills-langage:hover .skills-langage-text:nth-child(1) {
  top: 100%;
}

.skills-langage:hover .skills-langage-text:nth-child(2) {
  top: 0;
}
